*{
    box-sizing: border-box;
}


.check__theme{
    width: 60px;
    height: 30px;
    border: none;
    background: #4a94fc;
    border-radius: 25px;
    padding: 2px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 40px;
    z-index: 100;
    transition: all .3s;
}


.check__theme.black__theme{
    background-color: rgb(70, 70, 70);
    transition: all .3s;
}


.check__theme .circle{
    position: absolute;
    display: block;
    transform: translateX(-4px);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: #0b71ff;
    transition: all .3s;
}

.check__theme.black__theme .circle{
    transform: translateX(24.5px);
    transition: all .3s;
    background-color: rgb(22, 22, 22);
}

.check__theme .off, .check__theme .on{
    color: white;
}