
.header{
    width: 100vw;
    height: 50px;
    background-color: #247FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: all .3s;
}

.header.black__theme{
    background-color: #1b1b1b;
    transition: all .3s;
}



.header a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s;
}


.header a.active{
    color: orange;
    transition: all .3s;
}