

.item__delete{
    width: max-content;
    height: max-content;
}

.data__subitem label{
    display: none;
}
.data__subitem.label label{
    display: block;
}
/* fsdbgnhmjgl;,hfknjbd hdjvgdjbfknglmh;,'''''' ksfn,dnt;kmehiprgbouewjsvnltnejoihprgobuelnwksm.vfnivougevwabsd */