

.data__item .item__delete{
    width: 15px;
    height: 15px;
    position: absolute;
    right: -20px;
    z-index: 100;
}

.data__subitem label{
    display: none;
}
.data__subitem.label label{
    display: block;
}
/* fsdbgnhmjgl;,hfknjbd hdjvgdjbfknglmh;,'''''' ksfn,dnt;kmehiprgbouewjsvnltnejoihprgobuelnwksm.vfnivougevwabsd */