*{
    box-sizing: border-box;
    padding: 0;
}

.add__item{
    width: max-content;
    margin-top: 25px;
    border-top: 1px solid #000;
}

ul li{
    list-style:none;
    display: flex;
    gap: 5px;
}

.data__sublist{
    display: flex;
    gap: 5px;
    width: 100%;
}

.item__buttons{
    display: grid;
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: 30px 20px;
    row-gap: 6px;
}

.add__item-button{
    width: 90px;
    height: 30px;
    background-color: transparent;
    color: darkgreen;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid darkgreen;
    transition: all .2s;
    cursor: pointer;
}
.add__item-button:hover{
    background-color: rgba(0, 128, 0, 0.356);
}

.buttons__block{
    display: grid;
    grid-template-columns: 90px;
    grid-row: 1/3;
}

.add__list-links{
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, 0.379);
    transition: all .3s;
}

.black__theme .add__list-links{
    background: rgba(255, 255, 255, 0.257);
    border: 1px solid rgba(255, 255, 255, 0.379);
}